# Logs
logs
*.log

node_modules

# Debug log from npm
npm-debug.log

# OSX hidden files
.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/